.collapse-form {
    display: flex;
    flex-flow: column nowrap;
    margin:1.2rem;
    padding: 0;   
}

.collapse-form > button{
    color: white;
    font-weight: 700;
    background-color:rgb(230, 142, 22);
}

.collapse-input-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
}

.collapse-input-section svg{
    width: 2.2rem;
    height: 1.8rem;
    margin: 0.5rem;
    background-color: rgb(255, 101, 153);
 }
 
.collapse-input-section svg:hover{
   transform: scale(1.2);
}

.svg-button{
    background-color: transparent;
    border: 0;
}

 
