.collapse-form {
    display: flex;
    flex-flow: column nowrap;
    margin:1.2rem;
    padding: 0;   
}

.collapse-form > button{
    color: white;
    font-weight: 700;
    background-color:rgb(230, 142, 22);
}
