body{
    margin: 0;
    padding: 0; 
    overflow-x: hidden;
}

.main-container{ 
 display: flex;
 flex-flow: column nowrap;
 height: 100vh;
 width: 100vw;
}

/*header*/
#div1{
    display: flex;
    flex: 2;
    place-items: center;
    padding-left: 150px;
}

.lower-main{
    display: flex;
    flex:8;
    flex-flow: row wrap;
}

.right-lower-main{
    display: flex;
    flex:32;
    flex-flow: column wrap;
}

.middle-main{
    display: flex;
    flex-flow: row wrap;
}

.right-middle-main{
    display: flex;
    flex: 12;
    flex-flow: column wrap;
}

/*menu-bar*/
#div2{
    display: flex;
    flex:11;
    place-items: center;
}

/*center area*/
#div3{
    display: flex;
    flex:21;
    align-items: top;
    justify-items: center;
}

/*Upper subside area*/
#div4{
    display: flex;
    flex:1;
    place-items: center;
}

/*Lower subside area*/
#div5{
    display: flex;
    flex:1;
    place-items: center;
}

/*Footer bar*/
#div6{
    display: flex;
    flex:3;
    place-items: center;
    padding-top: 0px;
    padding-left: 100px;
}

