.main-container{ 
 display: grid;
 height: 100vh;
 width: 100vw;
}

/*header*/
#div1{
    grid-area: 1/1/2/4;
    display: grid;
    grid-template-columns: 20% 80%;
    place-items: center;
    padding-left: 150px;
}

/*menu-bar*/
#div2{
    grid-area: 2/1/5/2;
    display: grid;
    place-items: center;
}

/*center area*/
#div3{
    grid-area: 2/2/4/3;
    display: grid;
    align-items: center;
    justify-items: center;
}

/*Upper subside area*/
#div4{
    grid-area: 2/3/3/4;
    display: grid;
    place-items: center;
}

/*Lower subside area*/
#div5{
    grid-area: 3/3/4/4;
    display: grid;
    place-items: center;
}

/*Footer bar*/
#div6{
    grid-area: 4/2/5/4;
    display: grid;
    grid-template-columns: 20% 80%;
    place-items: center;
    padding-top: 0px;
    padding-left: 100px;
}

#text-quote-header{
    display: flex;
    height: auto;
    width: 68%;
    align-self: center;
    justify-self: start;
    justify-content: space-between;
}

#text-quote-footer{
    display: flex;
    height: auto;
    width: 90%;
    justify-self: start;
    align-self: start;
    justify-content: space-between;
}


@media (min-width: 1469px) { 
    .main-container{
    grid-template-columns: 25vw 47.7vw 27.3vw;
    grid-template-rows: 22.44vh 26.53vh 24.5vh 26.53vh;
    }
}

@media (max-width: 1469px) { 
    .main-container{
    grid-template-columns: auto 47.7vw auto;
    grid-template-rows: 22.44vh auto auto 26.53vh;
    }
}
