body{
    margin: 0;
    padding: 0; 
}

.main-container{ 
 display: grid;
 grid-template-rows: 11fr 38fr;
 height: 100vb;
}

.main-container header{
    grid-row: 1;
    background-color: rgb(167, 180, 255);
}

.lower-part{
grid-row: 2;
display: grid;
grid-template-columns: 11fr 32fr;
}

#aside{
    grid-column: 1;
    background-color: rgb(166, 243, 166);
}

.lower-right {
    display: grid;
    grid-template-columns: 21fr 11fr;
    grid-template-rows: 13fr 12fr 13fr;
    grid-template-areas: 
        'main lower-right-up-side'
        'main lower-right-down-side'
        'footer footer';
}

.lower-right #main {
    grid-area: main;
    background-color: white;
}

.lower-right #lower-right-up-side {
    grid-area: lower-right-up-side;
    background-color: rgb(166, 243, 166);
}

.lower-right #lower-right-down-side {
    grid-area: lower-right-down-side;
    background-color: rgb(241, 202, 128);
}

.lower-right #footer {
    grid-area: footer;
    background-color: rgb(167, 180, 255);
}




.white{
    background-color: #ffffff;
}
.violet{
    background-color: #291927;
}
.green{
    background-color: #0c1515;
}
.dark{
    background-color: #08060f;
}
.container{
    padding: 40px;
    border: 0.5px solid rgb(155, 77, 13);
    font-size: 60px;
    font-family: rubik,helvetica,arial,sans-serif;
}

#nav-container > nav{
    height: 650px;
    display: flex;
    flex-flow: column nowrap;
    flex: 1, 1, 200px;
    justify-content: space-between;
}

#nav-container  a{
    text-decoration: none;
    color: #f5f0d5;
    padding: 15px;
    font-weight: bold;
    text-align: center;
}

#nav-container  a:hover{
    text-decoration: none;
    background-color: #685f42;
    color: #f1d380;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #f1d380;
}

#text-quote-header{
    display: flex;
    height: auto;
    width: 68%;
    text-align: center;
    align-self: center;
    justify-self: start;
    justify-content: space-between;
    color: #ffffff;

}

#text-quote-footer{
    display: flex;
    height: auto;
    width: 90%;
    text-align: center;
    justify-self: start;
    align-self: start;
    justify-content: space-between;
    color: #ffffff;
}

#div1{
    background-image: url(../icons/Header-stalk.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#div3{
color: #ffffff;
}

#div4{
    color: #ffffff;
}

#div5{
    color: #ffffff;
}

#div6{
    background-image: url(../icons/Footer-stalk.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#on-page-icon{
width: 299px;
height: 297px;
}

#fa-sharp.fa-solid.fa-house{
    color: #f5f0d5;
}
